<?xml version="1.0"?>
<config>
  <modules>
    <Pickoh_Categoryattrbute>
      <version>0.1.0</version>
    </Pickoh_Categoryattrbute>
  </modules>
  <global>
    <helpers>
      <categoryattrbute>
        <class>Pickoh_Categoryattrbute_Helper</class>
      </categoryattrbute>
    </helpers>
	<models>
	  <categoryattrbute>
		<class>Pickoh_Categoryattrbute_Model</class>
		<resourceModel>categoryattrbute_mysql4</resourceModel>
	  </categoryattrbute>
	</models>
	<resources>
	  <categoryattribute1497280113_setup>
		<setup>
		  <module>Pickoh_Categoryattrbute</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1497280113_setup>
	  <categoryattribute1497280113_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1497280113_write>
	  <categoryattribute1497280113_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1497280113_read>
	</resources>
  </global>
</config> 